# Default values for 5gcore.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

namespace: 5gcore

image:
  repository: ilyassifez/5gcore
  pullPolicy: IfNotPresent

nrf:
  name: nrf-deployment
  service:
    type: ClusterIP
    port: 29510
    name: nrf-service
    clusterIP: 10.244.100.12
    targetPort: 29510
  app: nrf
  initContainers:
  - name: init-mongo-service
    image: busybox:1.28
    command: ['sh', '-c', "until nslookup mongo-service.5gcore.svc.cluster.local; do echo waiting for mongo; sleep 2; done"]
  securityContext:
    capabilities:
      add: ["NET_ADMIN","NET_RAW"]
  env:
  - name: DB_URI
    value: mongodb://db/free5gc
  - name: GIN_MODE
    value: release
  containerPort: 29510
  volumes:
  - name: nrfcfg-volume
    hostPath:
      # chemin du dossier sur l'hôte
      path: /home/ilyass/5gcore/config/nrfcfg.conf
  - name: nrf5gc-volume
    hostPath:
      # chemin du dossier sur l'hôte
      path: /home/ilyass/5gcore/config/free5GC.conf
